@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #3b4252;
  color: #e5e9f0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}